  <div class="classify_sp">
                <%= image_tag("image/forklift.png") %>
                <div class="classify_sp_heading"> Dich vụ kĩ thuật
                </div>
            </div>
            <div class="title_gt">
                <p class="title_bold ">1.Kiểm tra máy trước khi giao hàng : </p>
                <p>-Đảm bảo máy móc, thiết bị ở trạng thái tốt nhất theo tiêu chuẩn.</p>
                <br>
                <p class="title_bold ">2. Bảo hành: </p>
                <p >- Bảo hành miễn phí 12 tháng không giới hạn giờ hoạt động cho những hư hỏng gây ra do lỗi của nhà sản xuất. Khách hàng được hưởng chế độ thay thế phụ tùng và sửa chữa miễn phí trong suốt thời gian bảo hành mà Bình Minh cam kết với khách hàng.</p>
                <p >- Sau khi nhận được yêu cầu khách hàng, chậm nhất sau 8 giờ, các nhân viên Bình Minh  sẽ tiếp xúc trực tiếp với khách hàng để hiểu rõ yêu cầu và đưa ra phương án giải quyết.</p>
                <br>
                <p class="title_bold ">3. Bảo dưỡng định kỳ trong thời gian bảo hành: </p>
                <p >- Sau khi bàn giao máy cho khách hàng, trong thời gian bảo hành, các kỹ sư và nhân viên kỹ thuật của Bình Minh sẽ đến chăm sóc máy định kỳ 03 lần (miễn phí) nhằm đảm bảo cho thiết bị của khách hàng hoạt động trong điều kiện tốt nhất.</p>
                <br>
                <p class="title_bold ">4. Các dịch vụ khác:</p>
                <p >- Phụ tùng thay thế dự phòng đầy đủ đảm bảo cung cấp cho khách hàng chậm nhất trong vòng 48h đồng hồ trong suốt thời gian sử dụng máy.</p>
                <p >- Định kỳ hàng tháng các kỹ sư và nhân viên kỹ thuật của công ty gọi điện chăm sóc, kiểm tra, hỗ trợ kỹ thuật cho khách hàng.</p>
                <p >- Sau thời gian bảo hành, công ty chúng tôi tiếp tục hỗ trợ cung cấp dịch vụ sửa chữa theo yêu cầu của khách hàng.</p>
                <p>Bản báo giá này có giá trị đến hết 30/11/2015</p>
                <br>
                <p class="title_bold ">Rất mong nhận được sự hợp tác của Quý Công ty</p>
                <p >Mọi chi tiết xin liên hệ:</p>
                <p class="title_bold ">Cao Quý Long – Phòng kinh doanh</p>
                <p>ĐT	:    096.904.2725 - 01665.387.186<br>
                    Email	:    quylong.bm@gmail.com
                </p>
            </div>