 <div class="classify_sp">
          <%= image_tag("image/forklift.png")%>
          <div class="classify_sp_heading"> Liên hệ
          </div>
      </div>
      <div class="title_gt">
          <p class="title_bold">
              GỬI THÔNG TIN YÊU CẦU TRỰC TUYẾN
          </p>
          <br>
          <p>
              Các yêu cầu sẽ được chuyển tới <span class="title_bold">CÔNG TY TNHH XE NÂNG BÌNH MINH</span>, chúng tôi sẽ trả lời trong thời gian sớm nhất có thể
          </p>
          <br>
          <div class="title_center">
              <p> Copyright © 2015 - <span class="title_bold">Heli Forklift</span></p>
              <p class="title_bold">Công ty TNHH xe nâng Bình Minh</p>
              <p class="title_bold">Trụ sở chính :Km 9+500, Nguyễn Văn Linh,Sài Đồng,Long BIên,Hà Nội</p>
              <p class="title_bold">Chi nhánh TP HCM: 288/2 QL1A, P.Thới An, Q12, TP Hồ Chí Minh</p>
              <p class="title_bold">Hotline: 0969 042 725- Mr.Long</p>
              <p class="title_bold">Email: quylong.bm@gmail.com  - Website: helivietnam.org</p>
          </div>
      </div>