<div class="row">
            <div class="col-sm-12">
                <h1>
                    <p>Welcome Heli</p>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <%= image_tag("logo/home.png", class: "home_img")%>
            </div>
            <div class="col-sm-8">
                    <table class="table table-bordered table_admin">
                    <tr>
                        <td colspan="2" class="col_admin">
                            <span>Các chức năng quản trị</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="category">Quản trị sản phẩm</span>
                        </td>
                        <td>
                            <span>- Show sản phẩm theo chủ đề</span><br>
                            <span>- Sửa sản phẩm trong từng chủ đề</span><br>
                            <span>- Xóa sản phẩm trong từng chủ đề</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="category">Quản trị tin tức</span>
                        </td>
                        <td>
                            <span>- Thêm tin tức mới</span><br>
                            <span>- Xóa tức mới cũ</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="category">Thêm sản phẩm</span>
                        </td>
                        <td>
                            <span>- Thêm sản phẩm theo chủ đề</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>