@import "bootstrap-sprockets";
@import "bootstrap";
*{
    margin:0px;
    padding:0px;
}
.clearfix::after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
header{
    background: rgba(0, 0, 0, 0) url(image_path('logo/topareabg.jpg')) repeat-x scroll 0 0;
}
img{
    border: 0 none;
    vertical-align: middle;
}
a{
    text-decoration: none;
}
.top-header{
    width: 1003px;
    height: 82px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0) url(image_path('logo/tbg.png')) no-repeat scroll right center;
    z-index: 999;
}
.logo{
    height: 54px;
    padding: 5px 0 0;
    width: 133px;
    z-index: 99;
    float: left;
}
.nav1{
    background: #c0c0c1 none repeat scroll 0 0;
    height: 31px;
    line-height: 31px;
    z-index: 9999;
}
.banner{
    height: 300px;
    overflow: hidden;
    position: relative;
    z-index: 99
}
.bannern{
    left: 50%;
    margin-left: -502px;
    position: absolute;
    width: 1004px;
}
/*css menu*/
.menu-header{
    margin-top: 10px;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#cssmenu {
    width: auto;
    border-radius: 5px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    background: #3db2e1;
    background: -o-linear-gradient(top, #69c4e8, #21a1d4);
    background: -ms-linear-gradient(top, #69c4e8, #21a1d4);
    background: -webkit-linear-gradient(top, #69c4e8, #21a1d4);
    background: -moz-linear-gradient(top, #69c4e8, #21a1d4);
    background: linear-gradient(to bottom, #69c4e8, #21a1d4);
    box-shadow: inset 0 -3px 0 #1f97c7, inset 0 -3px 3px #1f9acc, inset 0 2px 2px #9ad7ef, inset 1px 0 2px #22a4d9, inset -1px 0 2px #22a4d9, 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.06), 0 3px 3px rgba(0, 0, 0, 0.17), 2px 1px 2px rgba(0, 0, 0, 0.05), -2px 1px 2px rgba(0, 0, 0, 0.05);
}
#cssmenu > ul > li {
    float: left;
    margin-right: 5px;
}
#cssmenu > ul > li > a {
    padding: 20px 10px;
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    font-weight: 700;
    text-decoration: none;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
#cssmenu > ul > li.has-sub > a {
    padding-right: 5px;
}
#cssmenu ul ul {
    position: absolute;
    left: -9999px;
    opacity: 0;
    -webkit-transition: top .2s ease, opacity .2s ease;
    -moz-transition: top .2s ease, opacity .2s ease;
    -ms-transition: top .2s ease, opacity .2s ease;
    -o-transition: top .2s ease, opacity .2s ease;
    transition: top .2s ease, opacity .2s ease;
}
#cssmenu ul li:hover > a,
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li > a:hover{
    color: #cae5fd;
}
#cssmenu > ul > li > ul {
    top: 91px;
    padding-top: 1px;
    border-radius: 5px;
}
#cssmenu > ul > li:hover > ul {
    left: auto;
    top: 51px;
    opacity: 1;
}
#cssmenu ul ul li a {
    
    padding: 12px 15px;
    font-size: 13px;
    font-weight: 700;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-decoration: none;
    background: #3db2e1;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li > a:hover,
#cssmenu ul ul li.active > a {
    color: #cae5fd;
}
#cssmenu ul ul li:first-child > a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: inset 0 2px 2px #88d0ed;
}
#cssmenu ul ul li:last-child > a {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
