/*header*/
header{
    background: rgba(0, 0, 0, 0) url(image_path("logo/topareabg.jpg")) repeat-x scroll 0 0;
    overflow: visible;
    width: 100%;
}
/*top-header*/
.top-header{
    width: 1005px;
    height: 82px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0) url(image_path("logo/tbg.png")) no-repeat scroll right center;
    z-index: 999;
    position: relative;
}
.phone_blink{
    width: auto;
    height: auto;
    float: right;
    margin-right: 200px;
    margin-top: 54px;
}
.phone_blink .hotline{
    color: #F70909;
    font-size: 18px;
    font-weight: bold;
    font: normal 17px 'Cookie', cursive;
}

.phone_blink .blink_me {
    font-size: 19px;
    font-weight: bold;
    -webkit-animation: glow-blink-text 2s ease infinite;
    animation: glow-blink-text 2s ease infinite
}
@-webkit-keyframes glow-blink-text {
    0% { color:#FC0000; text-shadow:0px 0px 1px #000CFF }
    25% { color:#000CFF; text-shadow:0px 0px 1px #FC0000 }
    100% { color:#FC0000; text-shadow:0px 0px 1px #000CFF }
}
@keyframes glow-blink-text {
    0% { color:#000CFF; text-shadow:0px 0px 1px #FC0000 }
    25% { color:#FC0000; text-shadow:0px 0px 1px #000CFF }
    100% { color:#000CFF; text-shadow:0px 0px 1px #FC0000 }
}
.logo{
    height: 54px;
    padding: 5px 0 0;
    width: 133px;
    z-index: 99;
    float: left;
}
.flag_lang{
    width: 75px;
    height: 20px;
    position: absolute;
    top:30px;
    right: 30px;

}
.lang_flag{
    display: inline;
    border: medium none;
}
.flag_lang .flag{
    width: 30px;
    height: 20px;
    border: 0 none;
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: 0;
}
.flag_lang .china{
    margin-right: 10px;
}
/*slideshow*/
.banner{
    height: 300px;
    overflow: hidden;
    position: relative;
    z-index: 99;
    width: 1004px;
    margin: 0 auto;
}
/* menu chính*/
.banner-menu{
    margin: 0 auto;
    background: #696D54 none repeat scroll 0 0;
    height: 65px;
    width: 1004px;
}
#cssmenu:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#cssmenu{
    height: auto;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 13px;
    position: absolute;
    margin: 5px 5px auto;
    width: 994px;
    overflow: visible;
}
#cssmenu ,
#cssmenu ul  {
    background: #EAE8E8;
    background: -o-linear-gradient(top, #EAE8E8, #969494);
    background: -ms-linear-gradient(top, #EAE8E8, #969494);
    background: -webkit-linear-gradient(top, #EAE8E8, #969494);
    background: -moz-linear-gradient(top, #EAE8E8, #969494);
    background: linear-gradient(to bottom, #EAE8E8, #969494);
    box-shadow: inset 0 -3px 0 #938F8F, inset 0 -3px 3px #969494, inset 0 2px 2px #EAE8E8, inset 1px 0 2px #969494, inset -1px 0 2px #938F8F, 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.06), 0 3px 3px rgba(0, 0, 0, 0.17), 2px 1px 2px rgba(0, 0, 0, 0.05), -2px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}
#cssmenu #nav{
    /*width: 810px;*/
    margin: 0;
}
#cssmenu ul ul li {
    background: #D6D4D4;
    background: -o-linear-gradient(top, #D6D4D4, #969494);
    background: -ms-linear-gradient(top, #D6D4D4, #969494);
    background: -webkit-linear-gradient(top, #D6D4D4, #969494);
    background: -moz-linear-gradient(top, #D6D4D4, #969494);
    background: linear-gradient(to bottom, #D6D4D4, #969494);
    position: relative;
}
#cssmenu ul ul{
    z-index: 100;
}
#cssmenu ul ul li{
    height: 40px;
    border-left: 1px solid #eee;
}
#nav li{
    list-style: none inside;
    float: left;
    height: 53px;
    line-height: 50px;
    border-right: 1px solid #eee;
    position: relative;
    text-align: center;
}
#nav .z115{
    width: 119px;
}
/*ok*/
#nav .z100{
    width: 113px;
}
/*ok*/
#nav .z110{
    width: 110px;
}
/*ok*/
#nav .z95{
    width: 92px;
}
#nav .z125{
    width: 124px;
}
/*ok*/
#nav .z155{
    width: 160px;
}
#nav li a{
    color: #260000;
    display: block;
    padding: 0 10px;
    text-decoration: none;
    font-size: 13px;
}
#nav ul{
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
}
#nav li li{
    border-top: 1px solid #eee;
    line-height: 40px;
    text-align: left;
}
#nav li li a{
    display: block;
    width: 220px;
}
#nav li:hover{
    background: #777676;
}
#nav li:hover ul{
    display: block;
}
.navbar-form{
    height: 34px;
    padding: 0;
    position: absolute;
    top: 3px;
    left: 825px;
}
.navbar-form .form-control{
    float: left;
    width: 120px;
}
.navbar-form .glyphicon-search{
    position: absolute;
    top: 0px;
}