<div class="classify_sp">
  <div class="classify_sp_heading"> Xe nâng Diesel Heli
  </div>
</div>
<div class="box_sp">
  <a href="#">
    <img src="img/image/image_1392255979.jpg">
  </a>
  <div class="box_namesp">
    <a>Xe nâng Diesel Heli CPCD20- 2 tấn</a>
  </div>
  <div class="box_addsp">
    Liên hệ: 0969. 0427. 25
  </div>
  <a class="tuychon" href="#">CHI TIẾT</a>
</div>